body {
  padding: 0px;
  margin: 0px;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.objectives {
  list-style-type: none;  
}





header {
  font-size: 1.2em;
  padding: 10px;
  border-bottom: green 2px solid;
  color: darkgreen;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

header > section  section  * {
  margin: 0px;
}


header> section {
  width: 40%;
}
header > section > a{
  display: flex;
  align-items: center;
  color: green;
  text-decoration: none;
}

header > section  img {
  width: 80px;
  padding-right: 15px;
}

header > nav {
  width: 80%;
  text-align: right;
  padding-right: 20px;
}

header > nav > a{
  color:darkgreen;
  padding:5px;
  margin: 10px;
  border-left: green solid 3px;
}

header > nav > a.here{
  color: darkred;
  border-bottom: darkred solid 3px;
  border-left: darkred solid 3px;
}

main {
  padding: 0px 15px;
}

main .centerImg {
   text-align: center;
}

img.all {
  width: 100%;
}


img.big {
  width: 80%;
}

img.large {
  width: 60%;

}


img.med {
  width: 40%;
}

img.term {
  width:500px;
}

img.halfterm {
  width:300px;
}

.fleximg {
    display: flex;
    align-items: center;
}
.fleximg img {
    max-width: 40%;
}

.marked {
  background-color: darkkhaki;
}

img.termxl {
  width:800px;
}
main > section {
    border-top: black solid 1px

}

img.small {
  width: 20%;
}

p.note {
  padding-left:20px;
}

section.columns {
  display:flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-around;
}

.clickMe {
  border: 2px solid black;
  text-align: center;
  padding: 1px; 
}

.canHide {
  border: 2px dotted gray;
  display: none;
}

section.card {
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
} 

.code {
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
  background-color: lightgray;
}

img.photo {
  width:50%;
  border-radius: 50%;
}